.flexbox {
  .excerpt-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.excerpt-header {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 560px;
  overflow: hidden;
  text-align: center;

  &:after {
    content: '';

    display: block;
    width: 100%;
    height: 70%;

    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    #gradient > .vertical(rgba(255,255,255, 0); rgba(255,255,255, 1));
    transform: translateY(100%);
    transition: transform ease 0.7s;
  }

  &.modify:after {
    transform: translateY(0);
  }

  .entry-title, .entry-meta {
    position: relative;
    z-index: 5;
  }
}

.bg-img {
  position: absolute;
  display: block;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform ease 0.5s;
}

.modify {
  .bg-img {
    transform: translateY(-5%);
  }
}

.read-more {

  .glyphicon {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 10px;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  &:hover .glyphicon {
    transform: rotate(360deg);
  }
}

.hentry:not(.has-post-thumbnail){
  .bg-img {
    display: none;
  }
}

.hentry header { }
.hentry .entry-title {
  margin: 0;
}
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }
