.flexbox {
  .excerpt-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hentry.light-bg {
  .entry-title, .entry-meta {
    color: @gray-dark;
  }
}

.hentry.dark-bg {
  .entry-title, .entry-meta {
    color: @gray-lighter;
  }
}

/*
.post-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out 0.1s;
}
*/

.excerpt-header {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 560px;
  overflow: hidden;
  text-align: center;

  &:after {
    content: '';

    display: block;
    width: 100%;
    height: 65%;

    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    #gradient > .vertical(rgba(255,255,255, 0); rgba(255,255,255, 1));
    transform: translateY(100%);
    transition: transform ease 0.7s;
  }

  .header-body {
    position: relative;
    z-index: 5;
    transform: translateY(0);
    transition: transform 0.6s ease;
  }

  .entry-title, .entry-meta {
    transition: color 0.6s ease;
  }
}

.bg-img {
  position: absolute;
  display: block;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform ease 0.5s;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.active {
  .bg-img {
    transform: translateY(-5%);
  }

  .header-body {
    position: relative;
    z-index: 5;
    transform: translateY(190%);
  }

  .excerpt-header:after {
    transform: translateY(0);
  }

/*
// Actually we don't need this
  &.light-bg {
    .entry-title, .entry-meta {
      color: @gray-lighter;
    }
  }
*/

  &.dark-bg {
    .entry-title, .entry-meta {
      color: @gray-dark;
    }
  }

  .read-more {
    .icon {
    transform: rotate(-90deg);
    }
  }

  .share-facebook {
    opacity: 1;
  }

  .share-twitter {
    opacity: 1;
  }

/*
  .post-content {
    max-height: 100%;
  }
*/
}

.round-link {
  display: inline-block;
  margin-top: 10px;
  outline: none;

  .icon {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: @gray-lighter;
    transition: all 0.5s ease-out;
  }

  &.share-facebook {
    //transform: translateX(100%);
    opacity: 0;
  }

  &.share-twitter {
    //transform: translateX(-100%);
    opacity: 0;
  }

/*
  &:focus {
    outline: thin dotted;
  }
*/
}

.read-more {

  .icon {
    transform: rotate(90deg);
  }

  &:hover .icon {
    transform: rotate(450deg);
  }
}

.hentry:not(.has-post-thumbnail){
  .bg-img {
    display: none;
  }
}

.content-loaded {
  .entry-content {
      padding: 25px 0 40px;
  }
}

.hentry header { }
.hentry .entry-title {
  margin: 0;
}
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
  font-size: 1.2em;
  color: @gray-dark;
}
.hentry footer { }
